/*
 * Copyright © 2021 Christopher Nguyen clinery8237@gmail.com
 */


@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@5.2/distr/fira_code.css);


body {
    background-color:#121212;
    color:#ddd;
    font-family:'Fira Sans',sans-serif;
}
a {
    color:#1111ff;
}
a:visited {
    color:#8844ff;
}
a:link {
    color:#3333ff;
}


/* code box thingy */
pre code.hljs {
    border:solid 2px #fff;
    border-radius:1vh;
}
code {
    font-family:'Fira Code',monospace;
}
