/*
 * Copyright © 2021 Christopher Nguyen clinery8237@gmail.com
 */


body {
    background-color:#121212;
    color:#ddd;
    font-family:'Fira Sans',sans-serif;
}


a {
    color:#1111ff;
}
a:visited {
    color:#8844ff;
}
a:link {
    color:#3333ff;
}
